<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
		<!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hybj_hs</property>-->
		<!--<property name="hibernate.connection.autocommit">true</property>-->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="connection.autocommit">true</property>
		
		<mapping resource="cn/hybj/domain/HybjText.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjCommonMsg.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjSystemDDl.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjUser.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjUserRole.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjRolePopedom.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjLog.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjReport.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjOutline.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjDemand.hbm.xml"/>
		<mapping resource="cn/hybj/domain/HybjSpecial.hbm.xml"/>
		<!--<mapping class="cn.hybj.domain.HybjOutline"/>-->
	</session-factory>
</hibernate-configuration>
